.back-wall-assembly {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1;
}

.wall-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-section, .right-section {
    width: 30%;
}

.center-section {
    width: 40%;
}